.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

mat-form-field {
    width: 100%;
}

.sign-card {
    margin: auto;
    margin-top: 100px;
    max-width: 400px;
}